@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100vw;
  font-family: Roboto;
  font-style: italic;
  color: #FFF;
  background: rgba(36, 91, 185, 0.8);
}

.navBar h1 {
  font-size: 3rem;
}


.mainContainer {
  max-width: 80%;
  margin: 20px auto;
}


/* cards */
.cardsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  width: 400px;
  height: 200px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  border: 2px dotted rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.cardUpperRow {
  display: flex;
  align-items: center;
  gap: 60%;
  margin: 30px;
}

.cardUpperRow p {
  width: 60px;
  height: 20px;
}

.cardLogo {
  width: 60px;
}

.cardLowerRow {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width:1100px) {

  .card {
    width: 200px;
    height: 100px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    border: 2px dotted rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardUpperRow {
    display: flex;
    align-items: center;
    gap: 0 40%;
  }

  .cardLogo {
    width: 30px;
  }

  .cardLowerRow {
    margin: -20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
}



/* Table Elements */
.MuiChip-sizeSmall {
  background: #E6E6F2 !important;
  color: #4A4AFF !important;
  font-weight: 500;
  user-select: none;
}

.MuiChip-labelSmall {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiChip-labelSmall::before {
  content: "•";
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

}

/* search */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 30px;
  padding: 16px 0;
  color: #444;
  text-align: center;
}


.search-label {
  margin-bottom: 20px;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-label input {
  width: 50vw;
  text-align: center;
  font-family: Roboto;
  padding: 10px;
  font-size: 1rem;
  color: #7F79A1;
  background: #F4F2FF;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px;
}

.searchButton {
  padding: 9px 18px;
  font-size: 1rem;
  font-size: 1rem;
  color: #FFF;
  background: #6D5BD0;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #6D5BD0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.searchButton:hover {
  background: #FFF;
  color: #6D5BD0;
  border: 1px solid #6D5BD0;

}

.container .loading {
  width: 10%;
  margin: 10%;
  align-self: center;
}